<!DOCTYPE html>

<html>
	<head>
		<title>CushBoss alpha</title>
		<link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
		<link href="@Url.Content("~/Content/Gamestyle.css")" rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="bg" class="bg"></div>
		<div id="banner" class="banner">
			<div id="moneycounter" class="moneycounter">
				123
			</div>
			<div id="candycounter" class="candycounter">
				123
			</div>
			<div id="logout" class="logout">
				
			</div>
		</div>
        @RenderBody()
	</body>
</html>
