@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<div class="MainDiv" id="MainDiv">
    CushBoss is a game where you can became a Candy Chief and no one can stop you!
    Your goal is to have as many candys and money as possible, for achiving this you have two tools, Production and Deployment control.
    Fight with your friends! Make an empire! Be a CANDY GOD!
</div>
