@{
    ViewBag.Title = "CushBoss | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="small_form">or</span>
<div class="LogInForm" id="LogInForm">
    <span class="form_header"><strong>Sign in</strong></span>
    <form action="">
        <div>
            <input type="text" placeholder="Username" required="" id="username" />
        </div>
        <div>
            <input type="password" placeholder="Password" required="" id="password" />
        </div>
        <div>
            <input type="submit" value="Log in" />
            <a href="#">Lost your password?</a>
        </div>
    </form>
</div>
<div class="RegisterForm" id="RegisterForm">
    <span class="form_header"><strong>Sign up</strong></span>
    <form action="">
        <div>
            <input type="text" placeholder="Username" required="" id="username" />
        </div>
        <div>
            <input type="password" placeholder="Password" required="" id="password" />
        </div>
        <div>
            <input type="email" placeholder="Email" required="" id="email" />
        </div>
        <div>
            <input type="submit" value="Register" />
            <a href="#">Troubleshooting</a>
        </div>
    </form>
</div>

